
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: black;
}
.title{
    font-size: 50px;
    text-decoration:underline;
    text-align: center;
    color: black;
}

.plane{
    text-align: center;
    text-decoration: underline;
    color: black;
}

.calvary{
    font-weight: 200;
}


.Did{
    text-decoration: none;
    color: black;
}
.rumors{
    padding: 50px 550px;
    border-radius: 45%;
}
.nga{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hotel{
    
    border-radius: 15%;
}
.began{
    position: absolute;
    padding-left: 30px;
}
.today{
    list-style:square
}
.mode{
    list-style:upper-roman;
}

.tableau td {
    border: 3px solid#333;
}
.tableau{
    padding-left: 400px;
}
.keel{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    list-style: none;
}
.ati{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    list-style: none;
}
.down{
    list-style:lower-alpha;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
}
footer a.mlb{
    text-decoration: none;
    color:rgb(46, 41, 41);

} 
.goya{
     background-image: url(/Img/Piano1111.jpg);
      margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 140vh;
}
