
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html{
    scroll-behavior: smooth;
}

body{
    margin:0 auto;
}

/*tete de page*/
header.header {
    display: flex;
    align-items: center;
}
header.header img{
    width: 100px;
}

section.top-page{
    background: url("../Img/Call.png");
    background-size: cover;
    height: 80vh;
    padding: 20px;
}
/*page de bienvenue*/
.landing-page{
    padding: 20px 50px;
}
.big-title {
    color:rgb(4,4,85);
    font-size: 80px;
    font-family: "Abril FatFace";
    text-align: center;
    font-weight: 100;

}
.scroll-down{
    color: rgb(4, 4, 85);
    text-decoration: none;
    position: absolute;
    bottom: 160px;
}

/*menu de navigation*/
nav.nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 1200px;
    margin-left: 100px;
    font-size: 25px;
    text-align: center;
}
nav.nav li a {
    color:rgb(4, 4, 85);
    text-decoration: none;
}
/*service*/
.Services {
    display:flex;
    justify-content: space-evenly;
    margin: 50px;
}
.Service-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.delivery-image {
    font-size: 50px;
}
.service-details a{
    font-weight: 600;
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: #000;
}
/*Best sells*/
.section-title{
    font-size:50px;
    font-family: 'Abril FatFace', cursive;
    font-weight: 100;
    position: relative;
}
.section-title::before{
    content: "";
    position: absolute;
    background-color: aqua;
    width: 50px;
    height: 7px;
    bottom:0
}
.bests-item{
    margin: 100px;
}
.best-music{
    background-color: white;
    min-height: 350px;
    display:flex;
    flex-wrap: wrap;
}
.music-box{
    position: relative;
    background-size: cover;
    background-position: center;
    
}
.no-grid{
    min-width: 350px;
    height: 350px;
    flex:1;
    border-radius: 30%;
}
.music1{
    background-image:url(../Img/image1.jpg);
}
.music2{
    background-image:url(../Img/Tent.jpg);
}
.music3{
    background-image:url(../Img/Kab.jpg);
}
.music4{
    background-image: url(../Img/Gospel.jpg);
}
.instru-details{
    position: absolute;
    width: 90%;
    bottom: 0;
    background-color: rgb(221, 208, 185);
    padding: 5px 20px;
}
.instru-name{
    font-size:20px;
    line-height: 1px;
    font-weight:900;
    text-decoration: none;
    color: #000;
}
.instru-char{
    color: white;
    line-height: 1px;
    font-size: 12px;
    font-weight: 800;
}
/*Pieds de la page*/
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
}
footer a.mlb{
    text-decoration: none;
    color:rgb(46, 41, 41);

}
.fixe{
    width: 100px;
    height: 100px;
}
.good{
    text-align: center;
}
